body {
	background-color: rgb(187, 181, 181);
	border: solid black thin;
}

footer {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	border-top: outset gray;
	padding-bottom: 25px;
}

#continut {
	padding: 20px;
}

input[type="button"] {
	background-color: blue;
	color: yellow;
	padding: 5px;
}

input[type="text"] {
	padding: 5px;
}

#colors {
	padding: 5px;
    border-radius: 10%;

}
